@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-themed text-themed transition-colors duration-100;
    }
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    .text-themed {
        @apply text-primary-900 dark:text-dark-primary-200;
    }

    .link-themed {
        @apply text-secondary-600 dark:text-dark-secondary-400;
    }

    .bg-themed {
        @apply bg-primary dark:bg-dark-primary-900;
    }

    .btn-themed {
        @apply link-themed border-secondary-600 hover:text-primary hover:bg-secondary-600 dark:hover:text-dark-primary-900 dark:hover:bg-dark-secondary-400 dark:border-dark-secondary-400;
    }

    .border-themed {
        @apply border-secondary-600 dark:border-dark-secondary-400;
    }

    .hover-themed {
        @apply hover:text-secondary-600 dark:hover:text-dark-secondary-400;
    }
}

@layer components {
    textarea, input[type] {
        @apply rounded bg-transparent border-themed focus:border-current;
    }

    [type="checkbox"], [type="checkbox"]:checked {
        @apply text-secondary-600 focus:ring-offset-transparent focus:ring-secondary-700 focus:ring-0
        dark:text-dark-secondary-400 dark:focus:ring-dark-secondary-400;
    }

    /* This needs to be manually updated when the theme colors in tailwind.config.js change */
    [type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
    /* This needs to be manually updated when the theme colors in tailwind.config.js change */
    html.dark [type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='18181B' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
}
html,
body,
#__next {
    height: 100% !important;
}

#__next {
    display: flex;
    flex-direction: column;
}

.form {
    @apply mx-auto flex flex-col;
}

.form-group {
    @apply inline-flex flex-col mb-3;
}

button:focus-visible {
    @apply focus:ring focus:outline-none focus:ring-secondary-600 dark:focus:ring-dark-secondary-400;
}

.btn {
    @apply mx-1 py-2 px-8 rounded transition-colors duration-200;
}

.btn-sm {
    @apply px-2 py-1 text-sm;
}

.btn-outline {
    @apply border btn-themed;
}

.btn-primary {
    @apply border border-transparent bg-secondary-600 text-primary hover:bg-secondary-800 hover:border-secondary-800
    dark:bg-dark-secondary-400 dark:text-dark-primary-900 dark:hover:bg-dark-secondary-600 dark:hover:border-dark-secondary-600;
}

footer a {
    @apply ml-4 first:ml-0;
}

a {
    @apply inline-block no-underline rounded transition-colors duration-75 ease-linear;
}

p a {
    @apply link-themed;
}

a:not(.no-hover-underline)::after {
    @apply relative rounded top-0.5 block w-full h-0.5 mx-auto my-0 bg-current transition-transform duration-150 ease-linear origin-center;
    transform: scaleX(0);
    content: '';
}

.group:hover a::after,
.group:focus a::after,
a:hover::after,
a:focus::after {
    transform: scaleX(1);
}

a::after {
    @apply hover:scale-x-100
}
