@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }
}

html,
body,
#__next {
    height: 100% !important;
}

#__next {
    display: flex;
    flex-direction: column;
}

.form {
    @apply mx-auto flex flex-col;
}

.form-group {
    @apply inline-flex flex-col mb-3;
}

textarea, input[type] {
    @apply rounded bg-transparent border-secondary focus:border-current;
}

button:focus-visible {
    @apply focus:ring focus:outline-none focus:ring-secondary;
}

.btn {
    @apply mx-1 py-2 px-8 rounded transition-colors duration-300;
}

.btn-sm {
    @apply px-2 py-1 text-sm;
}

.btn-outline {
    @apply border bg-primary text-secondary border-secondary hover:bg-secondary hover:text-primary;
}

.btn-primary {
    @apply border bg-secondary text-primary hover:bg-primary hover:text-secondary hover:border-secondary;
}

footer a {
    @apply ml-4 first:ml-0;
}

a {
    @apply inline-block no-underline rounded transition-colors duration-75 ease-linear;
}

p a {
    @apply text-secondary;
}

a:not(.no-hover-underline)::after {
    @apply relative rounded top-0.5 block w-full h-0.5 mx-auto my-0 bg-current transition-transform duration-150 ease-linear origin-center;
    transform: scaleX(0);
    content: '';
}

.group:hover a::after,
.group:focus a::after,
a:hover::after,
a:focus::after {
    transform: scaleX(1);
}

a::after {
    @apply hover:scale-x-100
}
